<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="accent-font">
                Stories
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="accent-font">
                Game Recaps
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="accent-font">
                Features
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="accent-font">
                Other
            </h4>
        </div>
    </div>
</div>