.story-card {
  margin: 2em 0;

  .story-card-image {
    width: 100%;
    height: auto;
  }
  .title {
    padding: 0 10px;
  }
  .description {
    padding: 0 10px;
  }
  .published {
    padding: 0 10px;
    color: #313131;
  }
}

.see-full {
  background: transparent !important;
  border: 3px solid #313131;
  color: #000000 !important;
  height: 6rem !important;
  line-height: 5.4rem !important;
  padding: 0.5rem 2rem !important;
  margin-top: 0.6rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.see-full:hover {
  border-color: #f75e65;
}
