<div class="card-container story-card z-depth-2">
    <div>
        <img class="story-card-image" src="{{story.picture}}" alt="">
    </div>
    <div class="row story-card-bottom">
        <div class="col s12">
            <h4 class="accent-font title">
                {{story.title}}
            </h4>
        </div>
        <div class="col s12">
            <div class="description">
                {{story.description}}
            </div>
        </div>
        <div class="col s12">
            <div class="right published">
                {{story.published}}
            </div>
        </div>
        <div class="col s12">
            <div class="center-align">
                <a class="see-full" href="{{story.link}}">See Full Story</a>
            </div>
        </div>
    </div>
</div>