<div class="row">
    <div class="col s12">
        <h3 class="accent-font center-align">Activities Outside of Media</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let hobby of hobbies" class="col s16 m6 l4">
            <mz-card>
                <mz-card-image>
                    <img src="{{hobby.image}}"/>
                </mz-card-image>
                <mz-card-title>
                    <span class="accent-font bold">{{hobby.title}}</span>
                </mz-card-title>
                <mz-card-content>
                    <ul>
                        <li *ngFor="let item of hobby.content">
                            {{item}}
                        </li>
                    </ul>
                </mz-card-content>
            </mz-card>
        </div>
    </div>
</div>