.home {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../../assets/wise_interview2.JPG") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}

.content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content h1 {
    font-size: 6rem;
    color: #ffffff;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content .position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.content .position span {
	display: inline-block;
}

.content .position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.content .position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}

.about-me {
    background: transparent !important;
	border: 3px solid #313131;
	color: #FFFFFF !important;
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 1rem 3rem 1rem 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
}

.about-me:hover {
	border-color: #f75e65;
}

.divider-row {
	margin-bottom: 0;
	img {
		width: 100%;
		height: auto;
	}
	.col {
		padding: 0;
	}
}

.headshot {
	width: 50%;
	height: auto;
}

.overview {
	h3, h4, h5 {
		font-weight: bold;
	}
}