<div class="main">
	<div class="home">
		<div class="content">
			<div class="row">
				<div class="col s12">
					<h1 class="accent-font">I'm Bennett Wise.</h1>
					<p class="position">
						<span class="accent-text">Broadcaster</span>
						<span class="accent-text">Content Creator</span>
					</p>
				</div>
				<div class="col s12">
					<a href="#about-me" class="about-me">About Me</a>
				</div>
			</div>
		</div>
		<app-social-media></app-social-media>
	</div>
	<div class="row divider-row">
		<div class="col s4">
			<img src="assets/wise_cone.jpeg" alt="">
		</div>
		<div class="col s4">
			<img src="assets/wise-car-graph.jpg" alt="">
		</div>
		<div class="col s4">
			<img src="assets/wis_flood.jpg" alt="">
		</div>
	</div>
	<div id="about-me">
		<div class="row subheader">
			<div class="col s12">
				<h2 class="accent-font center-align">About Me</h2>
			</div>
		</div>
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col s12 m6 center-align">
					<img class="headshot circle" src="assets/wise_headshot.jpg" alt="">
				</div>
				<div class="col s12 m6 overview">
					<h5 class="accent-font">Name</h5>
					Bennett Wise
					<h5 class="accent-font">Graduated</h5>
					Miami University (OH)<br>
					B.A. in Journalism<br>
					B.S. in Sports Leadership & Management
					<h5 class="accent-font">Hometown</h5>
					Warrenton, VA
				</div>
			</div>
		</div>
		<app-experience></app-experience>
		<!-- <app-extra-activities></app-extra-activities> -->
	</div>
</div>