<div class="row">
    <div class="col s12">
        <h3 class="accent-font center-align">Experience</h3>
    </div>
</div>
<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="center-align">
            <mz-collapsible [mode]="'expandable'" [popout]="true">
            <mz-collapsible-item>
                <mz-collapsible-item-header>
                    <span class="title">Start</span>
                    <span class="icon right">End</span>
                </mz-collapsible-item-header>
                <mz-collapsible-item-body>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </mz-collapsible-item-body>
            </mz-collapsible-item>
        </mz-collapsible>
        </div>
    </div>
</div>