<ul class="social">
    <li>
        <a href="https://www.linkedin.com/in/bennett-wise/">
            <i class="fa fa-linkedin icon"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/Bennett247Now">
            <i class="fa fa-facebook icon"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/bennettmwise?lang=en">
            <i class="fa fa-twitter icon"></i>
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UC8DK1spzAHcG4PMBkEZehsA">
            <i class="fa fa-youtube icon"></i>
        </a>
    </li>
</ul>