<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="accent-font">
                On Camera
            </h2>
        </div>
    </div>
    <div class="row youtube-videos">
        <div class="col s12 l6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gQs3uL2yeXA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/W_G7h6N4PDk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vt5AND-h8uc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>