<div class="container">
    <div class="row">
        <h2 class="col s12 accent-font">
            References
        </h2>
    </div>
    <div class="row">
        <div *ngFor="let reference of references" class="col s10 offset-s1 m6 l4 center-align ref-card">
            <app-reference-card [reference]="reference"></app-reference-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12 subheader">
            <h3 class="accent-font">
                Testimonials
            </h3>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let reference of quoteReferences" class="col s12 m6">
            <app-blockquote [reference]="reference"></app-blockquote>
        </div>
    </div>
</div>
