blockquote {
    border-left: none;
    padding: 0 !important;
    overflow: hidden;
    background-color: #cccccc;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #7a7a7a;
    width: 90%;
}


.quote-body {
    margin: 0 5%;

    .quotation-mark {
        margin: 0;
        font-weight: bold;
        font-size: 100px;
        color: #383838;
        font-family: "Times New Roman", Georgia, Serif;
    }

    .quote-text {
        padding: 10px;
        font-size: 20px;
        margin-top: -65px;
    }
}

.quote-bottom {
    margin: 0 5%;

    .quote-name {
        color: #000000;
        font-size: 20px;
    }

    .quote-position {
        color: #383838;
        font-size: 16px;
    }

    .contact-info {
        color: #383838;
        font-size: 16px;
        a {
            color: #f75e65;
        }
    }
}