<blockquote class="quote-box z-depth-2">
    <div class="quote-body">
        <p class="quotation-mark">
            “
        </p>
        <p class="quote-text">
            {{reference.quote}}
        </p>
    </div>
    <hr>
    <div class="quote-bottom">
        <p class="quote-name accent-font bold">
            {{reference.name}}
        </p>
        <p class="quote-position accent-font">
            {{reference.position}}
        </p>
        <p class="contact-info accent-font">
            <i class="material-icons left">mail</i><a href="mailto:{{reference.email}}" class="bold">{{reference.email}}</a>
            <br>
            <i class="material-icons left">phone</i><a href="tel:{{reference.phone}}" class="bold">{{reference.phone}}</a>
        </p>
    </div>
</blockquote>