<mz-card>
    <mz-card-image>
        <img src="{{reference.image}}"/>
    </mz-card-image>
    <mz-card-title>
        <span class="accent-font bold">{{reference.name}}</span>
    </mz-card-title>
    <mz-card-content>
        <ul>
            <li *ngFor="let item of reference.position">
                {{item}}
            </li>
        </ul>
        <p *ngIf="reference.email">
            <a href="mailto:{{reference.email}}" class="bold accent-text">{{reference.email}}</a>
        </p>
        <p *ngIf="reference.phone">
            <a href="tel:{{reference.phone}}" class="bold accent-text">{{reference.phone}}</a>
        </p>
        <p *ngIf="reference.twitter">
            <a href="https://twitter.com/{{reference.twitter}}" class="bold accent-text">{{reference.twitter}}</a>
        </p>
    </mz-card-content>
</mz-card>